body{font:18px Arial,Helvetica,sans-serif;color:#000;margin:0;padding-bottom:1em;background:repeat fixed url(tileable_wood_texture.png);}
img{border:none}
h1{font-size:1.6em;}
h2{font-size:1.3em;margin:10px 0}
h1,h2,.clear{clear:both;}
ul, ol{margin:1em 0 1em 2.5em;padding:0;}
ul li{list-style:circle;}
ul li, ol li{margin:0.5em 0;}
p{margin:0;line-height: 1.5em;}
a{color:#336699;padding:2px 4px;margin: 0 4px;}
abbr{border-bottom: 1px dotted #333;}
.hide{display:none}
.muted{color:#BBB;}
.blank{padding:.5em 0;}

#wrapper{max-width:1400px;width:auto;margin:0 auto;position:relative;}
#right{display:block;float:right;width: 80%;}
#left{display:block;float:left;width: 20%;}
.container{padding:0 1em;}
.left{float:left;}
.right{float:right;}
.box{
	background:#FFF;
	margin:1em 0 0;
	padding:0;
	box-shadow: 3px 3px 5px #BBB;
	min-height:1em;
	width:100%;
	overflow:hidden;
	display: block;
	color: #000;
	text-decoration: none;
}
.box-content{
	margin:.8em 1em;
	padding:0;
}
.box-content p{line-height:1.5em;margin: .3em 0;}
.box-content-e{
	margin:.8em 1em 0.4em;
	padding:0;
}
.box-upper{
	margin:0;
	border-top: 1px solid #EEE;
}
.box-upper p{line-height:2em;}
.box-upper .btn{
	border: none;
	background: transparent;
	padding: .4em 1em;
	margin:0;
	color: #000;
	text-decoration: none;
}
.box-upper, .box-upper .btn{
	font-size: .7em;
}
.box-upper .btn:hover, .box-upper .btn:focus{
	background: #EEE;
	color: #000;
	text-decoration: none;
	outline:none;
	border: none;
	padding: .4em 1em;
	margin: 0;
}
.box-upper .time{margin-left: .8em;}
.center{text-align:center;}
#new-weibo-counter.warning{
	color: red;
}
#new-weibo-upload-btn.selected{color: red;text-decoration: underline;}

.box-flipper-outer{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	padding-bottom: 1em;

	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);

	-webkit-transition: 0.3s height;
	-moz-transition: 0.3s height;
	-ms-transition: 0.3s height;
	-o-transition: 0.3s height;
	transition: 0.3s height;
}
.box-flipper{
	position: relative;
}

.box-flipper .box{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: 0.6s -webkit-transform;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s -moz-transform;
	-moz-transform-style: preserve-3d;

	-o-transition: 0.6s -o-transform;
	-o-transform-style: preserve-3d;

	-ms-transition: 0.6s -ms-transform;
	-ms-transform-style: preserve-3d;

	transition: 0.6s transform;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;

	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}
.box-flipper-fronter{
	z-index: 2;
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
}
.box-flipper-backer{
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.box-flipper-outer.on .box-flipper-backer{
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.box-flipper-outer.on .box-flipper-fronter{
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

/* Thanks to Bootstrap */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
.progress-bar-striped{
  background-color: #428bca;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.box.success{
  background-color: #5cb85c;
  color: #FFF;
}
.box.error{
  background-color: #f0ad4e;
  color: #FFF;
}
.progress-bar-striped.active {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
       -o-animation: progress-bar-stripes 1s linear infinite;
          animation: progress-bar-stripes 1s linear infinite;
}

#new-weibo-cover.active #new-weibo-progress, #new-weibo-cover.error #new-weibo-progress, #new-weibo-cover.success #new-weibo-progress{
	display:block;
}
#new-weibo-cover.active #new-weibo-hint, #new-weibo-cover.error #new-weibo-hint, #new-weibo-cover.success #new-weibo-hint{
	display:none;
}

#new-weibo-cover{cursor:pointer;}
#new-weibo-cover p{line-height:2.2em;}
#new-weibo-cover:focus{box-shadow: none;outline:8px auto #4D90FE;}
/*#new-weibo-content{overflow:hidden;}*/
#new-weibo-cover, #new-weibo-outer{height:2.2em;}
#new-weibo-content, #new-weibo-outer.on{height:8.9em;}

#status{resize:none;width:100%;height:6em;line-height:1.5em;font-size:1em;padding:0;background:transparent;outline:none;border:none;overflow:auto;}

.box-upper .inline-form{
	margin: 0 1em .5em;
	padding: 0;
}

#reply{
	font-size: 1.2em;
	resize: none;
	width:100%;
	padding: .3em 0;
	background: transparent;
	border: none;
	border-bottom: 1px solid #AAA;
	outline:none;
}


#left{padding: 3em 0 0;}
#sm-brand{display:none;margin:0;padding:.5em 0;border-bottom:1px solid #DDD;background:#EEE;display:relative;}
#sm-brand h1{font-size:1.1em;text-align:center;line-height:1.1em;margin:0;padding:0;}
#sm-brand .info{position:absolute;left:0;top:0;margin: .5em 1em;}
#sm-brand .btn{border:1px solid #DDD;text-decoration:none;color:#000;font-size:.9em;}

#left .ads.box{display:none;}

@media (max-width: 900px) {
	#left{float:none;width:100%;}
	#left>.container{padding:0;}
	#right{float:none;width:100%;}
	#sm-brand{display:block;}
	#left .ads.box{display:block;}
}
@media (max-width: 530px) {
	body{font-size:14px;}
	#sm-brand .info{margin: .5em .3em;}
	.container{padding:0 .5em;}
}
@media (min-width: 1200px) {
	body{font-size:20px;}
	#left .ads.box{display:block;}
}