/*
Jinzhong_Nest Web style.css
By @Phy25 - 2015/10/9
Other credits left through the script
*/
body{font:18px Arial,Helvetica,sans-serif;color:#000;margin:0;background:repeat fixed url(tileable_wood_texture.jpg);}
img{border:none}
h1{font-size:1.6em;}
h2{font-size:1.3em;margin:10px 0}
h1,h2,.clear{clear:both;}
ul, ol{margin:1em 0 1em 2.5em;padding:0;}
ul li{list-style:circle;}
ul li, ol li{margin:0.5em 0;}
p{margin:0;line-height: 1.5em;}
a{color:#336699;padding:0;margin:0 4px 0 0;}
abbr{border-bottom: 1px dotted #333;}
.hide{display:none}
.muted{color:#BBB;}
.blank{padding:.5em 0;}
.blank-leftupper{padding:1em 0;}
.pointer{cursor: pointer;}
.small{font-size: .8em;}

#contact-block{position:absolute;top: 20em;width: 17%;height: 10em;}

#contact-message{width:100%;resize:none;height:6em;padding:4px;}
#contact-email{width: 100%;padding:4px;}
.contact-small{font-size:.6em;}

#wrapper{max-width:1400px;width:auto;margin:0 auto;position:relative;padding-bottom:1em;box-sizing: border-box;min-height: 100%;}
#right{display:block;float:right;width: 80%;}
#left{display:block;float:left;width: 20%;padding: 3em 0 0;position:fixed;}
#left.unfixed{position:static;}
.container{padding:0 1em;}
.left{float:left;}
.right{float:right;}
.box{
	background:#FFF;
	margin:1em 0 0;
	padding:0;
	box-shadow: 3px 3px 5px #BBB;
	min-height:1em;
	width:100%;
	overflow:hidden;
	display: block;
	color: #000;
	text-decoration: none;
}
.box-content{
	margin:.8em 1em;
	padding:0;
}
.box-content h2 {
    color: #3366ff;
}
.box-content b {
    color: red;
}
.box-content p{line-height:1.5em;margin: .3em 0;}
.box-content-e{
	margin:.8em 1em 0.4em;
	padding:0;
}
.box-content-e blockquote{
	margin: 0.5em 0;
	padding: 0.3em 0 0.3em 1em;
	border-left: 0.5em solid #EEE;
}
.box-content-e blockquote small.upper{
	text-align: right;
	display: block;
	padding: 0.3em 0;
	clear: both;
}
.box-content-e .wbimg{
	margin: .5em 0 0 0;
	display: block;
}
.box-content-e .wbimg img{
	width: auto;
	max-width: 100%;
}
.box-upper{
	margin:0;
	border-top: 1px solid #EEE;
	clear: both;
}
.box-upper p{line-height:2em;margin: 0;padding: 0;}
.box-upper .btn, .box-upper .btn:hover, .box-upper .btn:focus{
	border: none;
	background: transparent;
	padding: .5em 1em;
	margin:0;
	color: #000;
	text-decoration: none;
}
.box-upper, .box-upper .btn{
	font-size: .8em;
}
.box-upper .btn:hover, .box-upper .btn:focus{
	background: #EEE;
	outline:none;
}

.box-upper .btn::-moz-focus-inner{
	border: 0;
}

.box-upper .time{margin-left: .8em;}
.center{text-align:center;}
#new-weibo-counter.warning{
	color: red;
}
#new-weibo-upload-btn.selected{color: #336699;font-weight: bold;}
#new-weibo-image-prv{font-size:.8em;}

.box-flipper{
	position: relative;
}

.box-flipper-fronter{
	z-index: 2;
}
.box-flipper-backer{
	display: none;
}
.box-flipper-outer.on .box-flipper-backer{
	display: block;
}
.box-flipper-outer.on .box-flipper-fronter{
	display: none;
}

/* Thanks to Bootstrap */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
.progress-bar-striped{
  background-color: #428bca;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.box.success{
  background-color: #5cb85c;
  color: #FFF;
}
.box.error{
  background-color: #f0ad4e;
  color: #FFF;
}
.box.muted{
  background-color: #EEE;
  color: #AAA;
}
.box.muted:focus{
	box-shadow: 0px 0px 5px #FFF;
}
.progress-bar-striped.active {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
       -o-animation: progress-bar-stripes 1s linear infinite;
          animation: progress-bar-stripes 1s linear infinite;
}

#new-weibo-cover.active #new-weibo-progress, #new-weibo-cover.error #new-weibo-progress, #new-weibo-cover.success #new-weibo-progress{
	display:block;
}
#new-weibo-cover.active #new-weibo-hint, #new-weibo-cover.error #new-weibo-hint, #new-weibo-cover.success #new-weibo-hint{
	display:none;
}

#new-weibo-cover{cursor:pointer;}
#new-weibo-cover p{line-height:2.2em;}
#new-weibo-cover:focus, a.box:focus{box-shadow: 0 0 10px rgb(77, 144, 254);outline:none;}


#status{resize:none;width:100%;height:6em;line-height:1.5em;font-size:1em;padding:0;background:transparent;outline:none;border:none;overflow:auto;}
#status:invalid{box-shadow: none;}

.box-upper .inline-form{
	margin: 0 1em .5em;
	padding: 0;
}

#contact-block .box-content, #left .box-content{
	font-size: 0.9em;
	margin: 0.5em 1em;
}

#reply{
	font-size: 1.2em;
	resize: none;
	width:100%;
	padding: .3em 0;
	background: transparent;
	border: none;
	border-bottom: 1px solid #AAA;
	outline:none;
}
#reply:invalid{box-shadow: none;}


#sm-brand{display:none;margin:0;padding:.5em 0;border-bottom:1px solid #DDD;background:#EEE;position:relative;}
#sm-brand h1{font-size:1.1em;text-align:center;line-height:1.1em;margin:0;padding:0;}
#sm-brand .info{position:absolute;left:0;top:0;margin: .5em 1em;}
#sm-brand .btn{border:1px solid #DDD;text-decoration:none;color:#000;font-size:.9em;padding: 4px;}
.mobile-show{display: none;}

#left .ads.box{display:none;}
.box.qrcode{text-align: center;}
.box.qrcode img{max-width: 240px;}

@media (max-width: 900px) {
	#left{float:none;width:100%;position:static;}
	#left>.container{padding:0;}
	#right{float:none;width:100%;}
	#sm-brand{display:block;}
	.mobile-hide{display: none;}
	.mobile-show{display: block;}
	#left .ads.box{display:block;}
	#contact-block{position:static;width: auto;margin-top:1em;}
}
@media (max-width: 530px) {
	body{font-size:15px;}
	#sm-brand .info{margin: .5em .3em;}
	.container{padding:0 .5em;}
}
@media (max-width: 320px) {
	body{font-size:14px;}
	#sm-brand .info{margin: .5em .3em;}
	.container{padding:0 .5em;}
}
@media (min-width: 1200px) {
	body{font-size:20px;}
	#left .ads.box{display:block;}
}