<!DOCTYPE html>
<html lang="zh">
<head><meta charset="utf-8" />
<title>树洞被封 - @金中_Nest</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="stylesheet" href="/static/css/style.min.css" type="text/css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/static/js/html5shiv.min.js"></script>
  <script src="/static/js/respond.min.js"></script>
<![endif]-->
<meta name="robots" content="index, follow" />

</head><body>
<header id="sm-brand">
	<h1>@金中_Nest</h1>
	<div class="info">
		<a href="/" class="btn">首页</a>
	</div>
</header>
<div id="wrapper" class="container">
	<section id="right">
		<div class="boxes" id="content">
			<div class="box">
				<div class="box-content">
					<h2>树洞被封</h2>
					<p>民间微博树洞 @金中_Nest 已于数日前被封，且申诉无效。默哀…</p>
					<p>作为一个几乎没有发布限制的公共帐号，会有这样的结果其实不算意外。从2013年一月底到2015年十月初，Nest 最终停留在 31470 条 po、5500+ 粉丝的地步。感谢支持和抨击过 Nest 的每个人。</p>
					<p>如果你有兴趣，请在下面参与投票，决定 Nest 的未来！</p>
				</div>
			</div>
			<div class="box" style="padding-top: 1em;">
				<iframe src="http://www.sojump.com/jq/5890365,i,t.aspx?width=600&amp;source=iframe&amp;tm=1&amp;sm=t" style="overflow: auto; width: 100%;" frameborder="0" height="2400" width="600"></iframe>
			</div>
		</div>
	</section>
	<section id="left">
		<div class="container">
			<div id="methods">
				<p><a href="/">返回首页</a></p>
				<p>微信号 <a href="weixin.html" title="公众服务号 Gim Dong">st_jinzhong</a></p>
				<p>微博 <a href="http://weibo.com/gimdongtreehole">@金中_Nest</a></p>
			</div>
			<div id="credits">
				
			</div>
		</div>
	</section>
	<div class="clear"></div>
</div>
</body>
</html>