<!DOCTYPE html>
<html lang="zh">
<head><meta charset="utf-8" />
<title>FAQ - @金中_Nest</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="stylesheet" href="/static/css/style.min.css" type="text/css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/static/js/html5shiv.min.js"></script>
  <script src="/static/js/respond.min.js"></script>
<![endif]-->
<meta name="robots" content="index, follow" />

</head><body>
<header id="sm-brand">
	<h1>@金中_Nest</h1>
	<div class="info">
		<a href="/" class="btn">首页</a>
	</div>
</header>
<div id="wrapper" class="container">
	<section id="right">
		<div class="boxes" id="content">
			<div class="box">
				<div class="box-content">
					<h2>怎么发布微博？</h2>
                    <ul>
                        <li>打开 <a href='/'>网页版</a> 发布</li>
                        <li>或添加 <a href='/weixin.html'>微信公众帐号</a></li>
                        <li>请不要私信我让我发布</li>
                    </ul>
                    
                    <h2>怎么删除微博？</h2>
                    <ul>
                        <li>在想要删除的微博下面评论 "求删"，满足5个人即自动删除</li>
                        <li>微博私信或发邮件给我</li>
                    </ul>

                    <h2>Nest 禁忌？</h2>
                    <ul>
                        <li>恶意谩骂</li>
                        <li>刷屏</li>
                        <li>发布无意义内容</li>
                    </ul>
                    <p><b>注：恶意谩骂者不保证绝对不透露你的身份！</b></p>

                    <h2>洞主邮箱？</h2>
                    <ul>
                        <li>直接发邮件给 <a href='mailto:jznest@qq.com'>jznest@qq.com</a></li>
                        <li>或 <a href='/#contact-block'>在线发送匿名邮件</a></li>
                    </ul>
                    <p><b>注：Nest 被渣浪关小黑屋时请邮件联系</b></p>

                    <h2>捐助树洞？</h2>
                    <ul>
                        <li>支付宝直接打赏至 jznest@qq.com （注：该帐号绑定姓名不是洞主本人）</li>
                        <li>或给 @金中_Nest 续费微博会员</li>
                        <li>谢谢！</li>
                    </ul>

                    <h2>其他</h2>
                    <ul>
                        <li>交易 po 请留下自己（微博）信息</li>
                        <li>Nest <a href='/hot'>过往热门 po</a></li>
                    </ul>
				</div>
			</div>
		</div>
	</section>
	<section id="left">
		<div class="container">
			<div id="methods">
				<p><a href="/">返回首页</a></p>
				<p>微信号 <a href="/weixin.html" title="公众服务号 Gim Dong">st_jinzhong</a></p>
				<p>微博 <a href="http://weibo.com/gimdongtreehole">@金中_Nest</a></p>
			</div>
			<div id="credits">
				
			</div>
		</div>
	</section>
	<div class="clear"></div>
</div>
</body>
</html>