<!DOCTYPE html>
<html lang="zh">
<head><meta charset="utf-8" />
<title>微信版 @金中_Nest</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="stylesheet" href="/static/css/style.min.css" type="text/css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/static/js/html5shiv.min.js"></script>
  <script src="/static/js/respond.min.js"></script>
<![endif]-->
<meta name="robots" content="index, follow" />

</head><body>
<header id="sm-brand">
	<h1>@金中_Nest</h1>
	<div class="info">
		<a href="/" class="btn">首页</a>
	</div>
</header>
<div id="wrapper" class="container">
	<section id="right">
		<div class="boxes" id="content">
			<div class="box">
				<div class="box-content">
					<h2>开始使用微信版树洞</h2>
					<p>微信版树洞为公众平台服务号 Gim Dong。</p>
					<p>微信主界面右上角 + 号 &gt; 增加朋友 &gt; “微信号”处输入 <code>st_jinzhong</code> &gt; 按提示关注。</p>
					<p>或微信主界面右上角 + 号 &gt; 扫一扫  &gt;  扫描本页面下方的二维码 &gt; 按提示关注。</p>
				</div>
			</div>
			<div class="box qrcode"><img src="http://www.jinzhong.tk/static/img/erweima.jpg" alt="微信二维码" title="微信二维码" width="100%" /></div>
		</div>
	</section>
	<section id="left">
		<div class="container">
			<div id="methods">
				<p><a href="index.html">返回首页</a></p>
				<p>微信号 <a href="weixin.html" title="公众服务号 Gim Dong">st_jinzhong</a></p>
				<p>微博 <a href="http://weibo.com/gimdongtreehole">@金中_Nest</a></p>
			</div>
			<div id="credits">
				
			</div>
		</div>
	</section>
	<div class="clear"></div>
</div>
</body>
</html>